{% extends 'base.html' %}
{% block title %}
- Login
{% endblock title %}

{% block body %}
<div class="mx-2">
    <h1>Login Page</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
        <br>
        <a href="/register">Don't have an account? Sign up here.</a>
    </form>
</div>
{% endblock body %}